# Зависимости
node_modules/
package-lock.json
yarn.lock

# Сборка проекта
dist/
build/

# Логи
*.log
npm-debug.log*

# Тесты и покрытие
coverage/
.nyc_output/

# ESLint
.eslintcache

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# ОС
Thumbs.db
Desktop.ini
.DS_Store

# Временные файлы
*.tmp
*.temp
*.bak